{% comment %}
  Renders cart notification

  Accepts:
  - color_scheme: {String} sets the color scheme of the notification (optional)
  - desktop_menu_type: {String} passes the desktop menu type which allows us to use the right css class (optional)

  Usage:
  {% render 'cart-notification' %}
{% endcomment %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
  var cartItems = {{ cart.items | json }};

    // Check if 'hand bag' is in the cart
    var bagInCart = cartItems.some(function(item) {
      return item.title === 'Hand Bag - Black / Medium';
    });

    // Check if 'soft_winter' is in the cart
    var softWinterJacketInCart = cartItems.some(function(item) {
      return item.title === 'Soft Winter Jacket';
    });

    if (bagInCart && !softWinterJacketInCart) {
        fetch('/cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            id: 42492901851318, // variant_id of soft winter jacket
            quantity: 1,
          }),
        })
        .then(function(response) {
          console.log(response)
          return response.json();
        })
        .then(function(data) {
          console.log('Product added to cart:', data);
          window.location.href = '/cart';
        })
        .catch(function(error) {
          console.error('Error adding product to cart:', error);
        });
    }

    // check if bag is removed from the cart
    var bagRemoved = cartItems.every(function(item) {
      return !(['Hand Bag - Black / Small', 'Hand Bag - Black / Medium'].includes(item.title));
    });
  
    // If 'bag' is removed, remove 'soft winter jacket' from the cart
    if (bagRemoved && softWinterJacketInCart) {
      var softWinterVariantId = parseInt(cartItems.find(function(item) {
        return item.title === 'Soft Winter Jacket';
      }).variant_id);

      fetch('/cart/update.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ updates : { {{ 42492901851318 }}: 0 }}), //variant_id of soft winter jacket
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        console.log('Product removed from cart:', data);
        window.location.href = '/cart';
      })
      .catch(function(error) {
        console.error('Error removing product from cart:', error);
      });
    }
  });
</script>


<cart-notification>
  <div class="cart-notification-wrapper{% if desktop_menu_type != 'drawer' %} page-width{% endif %}">
    <div
      id="cart-notification"
      class="cart-notification focus-inset{% if color_scheme %} color-{{ color_scheme }} gradient{% endif %}"
      aria-modal="true"
      aria-label="{{ 'general.cart.item_added' | t }}"
      role="dialog"
      tabindex="-1"
    >
      <div class="cart-notification__header">
        <h2 class="cart-notification__heading caption-large text-body">
          {%- render 'icon-checkmark' -%}
          {{ 'general.cart.item_added' | t }}
        </h2>
        <button
          type="button"
          class="cart-notification__close modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
      <div id="cart-notification-product" class="cart-notification-product"></div>
      <div class="cart-notification__links">
        <a
          href="{{ routes.cart_url }}"
          id="cart-notification-button"
          class="button button--secondary button--full-width"
        >
          {{- 'general.cart.view_empty_cart' | t -}}
        </a>
        <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
          <button class="button button--primary button--full-width" name="checkout">
            {{ 'sections.cart.checkout' | t }}
          </button>
        </form>
        <button type="button" class="link button-label">{{ 'general.continue_shopping' | t }}</button>
      </div>
    </div>
  </div>
</cart-notification>
{% style %}
  .cart-notification {
    display: none;
  }
{% endstyle %}
